.container {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../assets/bg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentContainer {
  width: 100%;
  max-width: 450px;
  background-color: white;
  padding: 1rem;
  margin: 2rem 1rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}

.inputDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.inputLabel {
  font-size: 1rem;
  font-weight: 500;
}

.input {
  outline: none;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}

.btn {
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  border-radius: 0.125rem;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #e9da03;
  margin: 1rem 0rem;
}

.signUpDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
