.container {
  width: 100%;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(197, 197, 197);
}

.ticketInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #3b3b3b;
}

.date {
  font-size: 0.75rem;
  font-weight: 400;
}

.title {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  word-break: break-all;
}

.btnsDiv {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.actionBtn {
  width: 1.25rem;
  outline: none;
  cursor: pointer;
}
